@model Team
@{
    if (Model != null)
    {
        TempData["TeamName"] = @Model.Name;
    }
}

<div class="border p-3 mt-4">
    <div class="row justify-content-end pb-2">
        <div class="col-auto">
            <a asp-controller="Team" asp-action="Index" class="btn btn-outline-secondary">Przejdź do listy drużyn</a>
        </div>
        <div class="col-auto">
            <a asp-cont roller="Player" asp-action="AddPlayerToTeam" asp-route-teamId="@Model?.TeamId" class="btn btn-primary">Dodaj zawodnika do drużyny</a>
        </div>
        <div class="col-auto">
            <a asp-controller="Team" asp-action="AddTeamToFavourites" asp-route-teamId="@Model?.TeamId" class="btn btn-outline-primary">
                @if (ViewBag.IsFavourite)
                {
                    <i class="bi bi-heart-fill"></i>
                }
                else
                {
                    <i class="bi bi-heart"> </i>
                }
            </a>
        </div>
    </div>
</div>


<div class="container mt-5">
    <h2 class="mb-4">Zawodnicy drużyny @ViewBag.TeamName</h2>
    <table class="table table-hover table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Foto</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Data urodzenia</th>
                <th>Numer koszulki</th>
                <th>Pozycja</th>
                <th>Wzrost (cm)</th>
                <th>Waga (kg)</th>
                <th>Kraj</th>
                <th>Test</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>
                        @if (player.Photo != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(player.Photo)" alt="@player.Name" class="img-fluid" style="max-height: 100px;">
                        }
                        else
                        {
                            <img src="~/images/default-user.jpg" alt="Domyślne zdjęcie" class="img-fluid" style="max-height: 100px;">
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Details", "Player", new { playerId = player.PlayerId })">@player.Name</a>

                        @*<a href="/player/details?@player.PlayerId">@player.Name</a>*@
                    </td>
                    <td>@player.Surname</td>
                    <td>@player.Birthday?.ToString("dd-MM-yyyy")</td>
                    <td>@player.UniformNumber</td>
                    <td>@player.GetPositionsString(player.Positions)</td>
                    <td>@player.Height</td>
                    <td>@player.Weight</td>
                    <td>@player.Country</td>
                    <td>
                        <form asp-action="RemovePlayerFromTeam" asp-controller="Team" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć tego zawodnika z drużyny?');">
                            <input type="hidden" name="playerId" value="@player.PlayerId" />
                            <input type="hidden" name="teamId" value="@Model.TeamId" />
                            <input type="submit" value="Usuń z drużyny" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

