@model Team
<div class="container mt-4">
    <div class="card team-details-card">
        <div class="card-header">
            <h2 class="card-title">@ViewBag.TeamName</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 team-logo-section">
                    @if (Model.TeamLogo != null)
                    {
                        <img id="team-logo" src="data:image/png;base64,@(Convert.ToBase64String(Model.TeamLogo))" class="img-fluid" />
                    }
                    else
                    {
                        <img id="team-logo" src="~/images/default-team2.png" alt="Domyślne zdjęcie" class="img-fluid" />
                    }
                </div>
                <div class="col-md-9">
                    <p class="team-description">@Model.Description</p>
                    <div class="coach-info mb-3">
                        <strong class="coach-label">Trener:</strong>
                        <span class="coach-name">@(ViewBag.Coach != null ? ViewBag.Coach : "-")</span><br>
                    </div>
                    <div class="coach-info mb-3">
                          <strong class="coach-label">Adres:</strong>
                        @if (Model.Stadium != null && !string.IsNullOrEmpty(Model.Stadium.Address))
                        {
                            <a href="#map" class="stadium-address-link" onclick="scrollToMap()"> @Model.Stadium.Address</a>
                        }
                    </div>
                        <div class="coach-info mb-3">
                        <strong class="coach-label">Liga:</strong>
                        @if(Model.LeagueId!=null && Model.LeagueId != 0)
                        {
                        <span class="coach-name">  <a asp-controller="League" asp-action="Details" asp-route-leagueId="@Model.LeagueId" class="link">@Model.League.Name</a></span><br>
                            
                        }else{
                             <span class="coach-name">-</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <a asp-controller="Team" asp-action="AddTeamToFavourites" asp-route-teamId="@Model?.TeamId" class="btn btn-outline-primary mx-2">
                <i class="bi @(ViewBag.IsFavourite ? "bi-heart-fill" : "bi-heart")"></i> Dodaj do ulubionych
            </a>
            <a asp-controller="Player" asp-action="AddPlayerToTeam" asp-route-teamId="@Model?.TeamId" class="btn btn-success">Dodaj zawodnika</a>
            <a asp-controller="Team" asp-action="DeleteTeamFromLeague" asp-route-teamId="@Model?.TeamId" asp-route-leagueId="@Model?.LeagueId" class="btn btn-outline-danger">Usuń drużynę z ligi</a>
        </div>
    </div>
</div>

<h4 class="mt-5 mb-3">Zawodnicy drużyny</h4>

<table class="table table-striped">
    <thead class="table-primary">
        <tr>
            <th>Foto</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
            <th>Numer koszulki</th>
            <th>Pozycja</th>
            <th>Wzrost (cm)</th>
            <th>Waga (kg)</th>
            <th>Kraj</th>
            <th>Test</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>
                    @if (player.Photo != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(player.Photo)" alt="@player.Name" class="img-fluid" style="max-height: 100px;">
                    }
                    else
                    {
                        <img src="~/images/default-user.jpg" alt="Domyślne zdjęcie" class="img-fluid" style="max-height: 100px;">
                    }
                </td>
                <td><a href="@Url.Action("Details", "Player", new { playerId = player.PlayerId })" class="link">@player.Name</a>   </td>
                <td><a href="@Url.Action("Details", "Player", new { playerId = player.PlayerId })" class="link">@player.Surname</a></td>
                <td>@player.Birthday?.ToString("dd-MM-yyyy")</td>
                <td>@player.UniformNumber</td>
                <td>@player.GetPositionsString(player.Positions)</td>
                <td>@player.Height</td>
                <td>@player.Weight</td>
                <td>@player.Country</td>
                <td>
                    <form asp-action="RemovePlayerFromTeam" asp-controller="Team" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć tego zawodnika z drużyny?');">
                        <input type="hidden" name="playerId" value="@player.PlayerId" />
                        <input type="hidden" name="teamId" value="@Model.TeamId" />
                        <input type="submit" value="Usuń z drużyny" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="map"
     data-lat="@(Model.Stadium != null && Model.Stadium.StadiumLatitude != null ? Model.Stadium.StadiumLatitude : "")"
     data-lng="@(Model.Stadium != null && Model.Stadium.StadiumLongitude != null ? Model.Stadium.StadiumLongitude : "")"
     style="height:300px; margin-top:20px;">
</div>

@*<div id="stadium-address">
    @if (Model.Stadium != null && !string.IsNullOrEmpty(Model.Stadium.Address))
    {
        <p>Adres: @Model.Stadium.Address</p>
    }
    else
    {
        <p>Adres nie jest dostępny.</p>
    }
</div>*@


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-WLvSSFAzty14uSchw8-AJnRBUQxoh4o&callback=initMap" defer></script>
<script>
    function initMap() {
        var mapElement = document.getElementById('map');

        var lat = parseFloat(mapElement.getAttribute('data-lat'));
        var lng = parseFloat(mapElement.getAttribute('data-lng'));

        //console.log(lat);
        //console.log(lng);
        if (isNaN(lat) || isNaN(lng)) {
            lat = 53.07;
            lng = 23.09;
        }
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: lat, lng: lng },
            zoom: 15
        });

        var marker = new google.maps.Marker({
            position: { lat: lat, lng: lng },
            map: map
        });
    }
</script> 
<link rel="stylesheet" type="text/css" href="~/css/teamDetails.css" />
<link rel="stylesheet" type="text/css" href="~/css/default.css" />