<div class="container mt-4">
    <div class="card team-details-card">
        <div class="card-header">
            <h2 class="card-title">@ViewBag.TeamName</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 team-logo-section">
                    @if (Model.TeamLogo != null)
                    {
                        <img id="team-logo" src="data:image/png;base64,@(Convert.ToBase64String(Model.TeamLogo))" class="img-fluid" />
                    }
                    else
                    {
                        <img id="team-logo" src="~/images/default-team2.png" alt="Domyślne zdjęcie" class="img-fluid" />
                    }
                </div>
                <div class="col-md-9">
                    <p class="team-description">@Model.Description</p>
                    <div class="coach-info">
                        <span class="coach-label">Trener:</span>
                        <span class="coach-name">@(ViewBag.Coach != null ? ViewBag.Coach : "-")</span>
                        @if (ViewBag.CoachPhoto != null)
                        {
                            <img id="coach-photo" src="data:image/png;base64,@(Convert.ToBase64String(ViewBag.CoachPhoto))" class="img-fluid coach-photo" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <a asp-controller="Team" asp-action="AddTeamToFavourites" asp-route-teamId="@Model?.TeamId" class="btn btn-outline-primary">
                <i class="bi @(ViewBag.IsFavourite ? "bi-heart-fill" : "bi-heart")"></i> Dodaj do ulubionych
            </a>
            <a asp-controller="Player" asp-action="AddPlayerToTeam" asp-route-teamId="@Model?.TeamId" class="btn btn-success">Dodaj zawodnika</a>
        </div>
    </div>

    <h4 class="mt-5 mb-3">Zawodnicy drużyny</h4>

    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th>Foto</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Data urodzenia</th>
                <th>Numer koszulki</th>
                <th>Pozycja</th>
                <th>Wzrost (cm)</th>
                <th>Waga (kg)</th>
                <th>Kraj</th>
                <th>Test</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>
                        @if (player.Photo != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(player.Photo)" alt="@player.Name" class="img-fluid" style="max-height: 100px;">
                        }
                        else
                        {
                            <img src="~/images/default-user.jpg" alt="Domyślne zdjęcie" class="img-fluid" style="max-height: 100px;">
                        }
                    </td>
                    <td><a href="@Url.Action("Details", "Player", new { playerId = player.PlayerId })" class="link">@player.Name</a>   </td>
                    <td><a href="@Url.Action("Details", "Player", new { playerId = player.PlayerId })" class="link">@player.Surname</a></td>
                    <td>@player.Birthday?.ToString("dd-MM-yyyy")</td>
                    <td>@player.UniformNumber</td>
                    <td>@player.GetPositionsString(player.Positions)</td>
                    <td>@player.Height</td>
                    <td>@player.Weight</td>
                    <td>@player.Country</td>
                    <td>
                        <form asp-action="RemovePlayerFromTeam" asp-controller="Team" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć tego zawodnika z drużyny?');">
                            <input type="hidden" name="playerId" value="@player.PlayerId" />
                            <input type="hidden" name="teamId" value="@Model.TeamId" />
                            <input type="submit" value="Usuń z drużyny" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="map" style="height:300px;">

    </div>
    </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-WLvSSFAzty14uSchw8-AJnRBUQxoh4o&callback=initMap" defer></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 53.07, lng: 23.09 },
            zoom: 8
        });

        // Umieszczenie markera na mapie w określonej lokalizacji
        var marker = new google.maps.Marker({
            position: { lat: parseFloat("53.07"), lng: parseFloat("23.09") },
            map: map
        });
    }
</script>
    <style>
        .team-details-card {
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-logo-section img {
    max-width: 100%;
    border-radius: 5px;
}

.team-description {
    color: #343344;
    margin-bottom: 1rem;
}

.coach-info {
    display: flex;
    align-items: center;
}

.coach-label {
    font-weight: bold;
    margin-right: 10px;
}

.coach-photo {
    max-width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Stylizacja tabeli zawodników */

    </style>

<link rel="stylesheet" type="text/css" href="~/css/default.css" />
<link rel="stylesheet" type="text/css" href="~/css/teamDetails.css" />