@using BasketballLeagueTracker.ViewModels;
@model GameViewModel
@{
    TempData["LeagueId"] = Model.LeagueId;
}
<form method="post" asp-controller="Game" asp-action="Create" enctype="multipart/form-data" class="container mt-5">
    <input asp-for="Game.GameId" type="hidden" />
    <div class="card">
        <div class="card-header text-center">
            <h2 class="card-title">
                @(Model.Game != null && Model.Game.GameId != 0 ? "Edytuj " : "Dodaj ") mecz
            </h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Game.GameDate" class="control-label">Data meczu</label>
                <div class="flex-container">
                    <input asp-for="Game.GameDate" class="form-control date-input" type="date" value="@Model.Game.GameDate.ToString("yyyy-MM-dd")" />
                    <input asp-for=GameDateHour class="form-control time-input" type="time" value="@Model.Game.GameDate.ToString("HH:mm")" />
                </div>
                <span asp-validation-for="Game.GameDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.Status" class="control-label">Status</label>
                <select asp-for="Game.Status" asp-items="Html.GetEnumSelectList<GameStatus>()" class="form-control"></select>
                <span asp-validation-for="Game.Status" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Game.HomeTeamId" class="control-label">Drużyna gospodarzy</label>
                        <select asp-for="Game.HomeTeamId" class="form-control" asp-items="Model.HomeTeamSL"></select>
                        <span asp-validation-for="Game.HomeTeamId" class="text-danger"></span>

                    </div>
            

                </div>
                <div class="col-md-6">

        <div class="form-group">
                        <label asp-for="Game.AwayTeamId" class="control-label">Drużyna gości</label>
                        <select asp-for="Game.AwayTeamId" class="form-control" asp-items="Model.AwayTeamSL"></select>
                        <span asp-validation-for="Game.AwayTeamId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                        <label asp-for="Game.AwayTeamScore" class="control-label">Wynik gości</label>
                        <input asp-for="Game.AwayTeamScore" class="form-control" />
                        <span asp-validation-for="Game.AwayTeamScore" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2 offset-md-4">
                    <div class="form-group">
                        <label asp-for="Game.HomeTeamScore" class="control-label">Wynik gospodarzy</label>
                        <input asp-for="Game.HomeTeamScore" class="form-control" />
                        <span asp-validation-for="Game.HomeTeamScore" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">
                @(Model.Game != null && Model.Game.GameId != 0 ? "Edytuj " : "Dodaj ")
            </button>
            <a asp-controller="League" asp-action="Details" asp-route-leagueId="@Model.LeagueId" class="btn btn-outline-dark">Wróć do widoku ligi</a>
        </div>
    </div>
    <span asp-validation-summary="All" class="text-danger"></span>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

<style>
    .flex-container {
        display: flex;
        align-items: center;
    }

    .date-input {
        flex: 70%;
        margin-right: 15px;
    }

    .time-input {
        flex: 30%;
    }


</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
