@using BasketballLeagueTracker.ViewModels;
@using BasketballLeagueTracker.Models;
@model GameViewModel
@{
    TempData["LeagueId"] = Model.LeagueId;
}

<form method="post" asp-controller="Game" asp-action="Update" enctype="multipart/form-data" class="container mt-5">
    <input asp-for="Game.GameId" type="hidden" />
    <input asp-for="Game.AwayTeam.Players" type="hidden" />
    <input asp-for="Game.HomeTeam.Players" type="hidden" />
    <div class="card">
        <div class="card-header text-center">
            <h2 class="card-title">
                @(Model.Game != null && Model.Game.GameId != 0 ? "Edytuj " : "Dodaj ") mecz
            </h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Game.GameDate" class="control-label">Data meczu</label>
                <input asp-for="Game.GameDate" class="form-control" />
                <span asp-validation-for="Game.GameDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.Status" class="control-label">Status</label>
                <select asp-for="Game.Status" asp-items="Html.GetEnumSelectList<GameStatus>()" class="form-control"></select>
                <span asp-validation-for="Game.Status" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Game.HomeTeam.Name" class="control-label">Drużyna gospodarzy</label>
                            <input asp-for="Game.HomeTeam.Name" class="form-control" readonly />
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="Game.AwayTeam.Name" class="control-label">Drużyna gości</label>
                        <input asp-for="Game.AwayTeam.Name" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-4">
                    <div class="form-group">
                        <label asp-for="Game.HomeTeamScore" class="control-label"></label>
                        <input asp-for="Game.HomeTeamScore" class="form-control" min="0" />
                        <span asp-validation-for="Game.HomeTeamScore" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                        <label asp-for="Game.AwayTeamScore" class="control-label"></label>
                        <input asp-for="Game.AwayTeamScore" class="form-control" min="0" />
                        <span asp-validation-for="Game.AwayTeamScore" class="text-danger"></span>
                    </div>
                </div>


            </div>
        </div>
        @{
            var homeStats = Model.HomeTeamGPS;
            var awayStats = Model.AwayTeamGPS;

        }

        <!-- HomeTeam table -->
        <h2 class="text-center">@Model.Game.HomeTeam.Name</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Zawodnik</th>
                    <th>Czas spędzony</th>
                    <th>Punkty</th>
                    <th>Zbiórki</th>
                    <th>Zbiórki def</th>
                    <th>Zbiórki off</th>
                    <th>Asysty</th>
                    <th>Przech</th>
                    <th>Bloki</th>
                    <th>Straty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Game.HomeTeam.Players)
                {
                    <tr>
                        @{
                            var playerStats = player.PlayerStats.Where(x => x.GameId == Model.Game.GameId);
                        }
                        <td>@player.FullName (#@player.UniformNumber)</td>
                        <td>
                            @foreach (var stat in Model.HomeTeamGPS)
                            {
                                <input asp-for="@stat.TimeSpend" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Points" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Rebounds" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.DefensiveRebounds" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.OffensiveRebounds" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Assists" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Steals" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Blocks" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Turnovers" class="form-control" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- AwayTeam table -->
        <h2>@Model.Game.AwayTeam.Name</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Zawodnik</th>
                    <th>Czas spędzony</th>
                    <th>Punkty</th>
                    <th>Zbiórki</th>
                    <th>Zbiórki def</th>
                    <th>Zbiórki off</th>
                    <th>Asysty</th>
                    <th>Przech</th>
                    <th>Bloki</th>
                    <th>Straty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Game.AwayTeam.Players)
                {
                    <tr>
                        @{
                            var playerStats = player.PlayerStats.Where(x => x.GameId == Model.Game.GameId);
                        }
                        <td>@player.FullName (#@player.UniformNumber)</td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.TimeSpend" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Points" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Rebounds" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.DefensiveRebounds" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.OffensiveRebounds" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Assists" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Steals" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Blocks" class="form-control" />
                            }
                        </td>
                        <td>
                            @foreach (var stat in playerStats)
                            {
                                <input asp-for="@stat.Turnovers" class="form-control" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <div class="card-footer text-center">
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            <a asp-controller="League" asp-action="Details" asp-route-leagueId="@Model.LeagueId" class="btn btn-outline-dark">Wróć do widoku ligi</a>
        </div>
    </div>
    @*<span asp-validation-summary="All" class="text-danger"></span>*@


</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

