@model Player

<div class="player-details">
    @if (Model.Photo != null)
    {
        <img id="player-photo" height="200" width="200" src="data:image/png;base64,@(Convert.ToBase64String(Model.Photo))" />
    }
    else
    {
        <img id="player-photo" src="~/images/default-user.jpg" alt="Domyślne zdjęcie" class="img-fluid" style="max-height: 100%;">
    }
    <div class="player-info">
        <h2>@Model.Name @Model.Surname</h2>
        <div class="player-stats">
            <span><b>Wzrost</b> @Model.Height cm</span>
            <span><b>Waga:</b>@Model.Weight kg</span>
            <span><b>Pozycja:</b> @Model.GetPositionsString(Model.Positions)</span>
        </div>
    </div>
</div>
<div class="col-auto">
    <a asp-controller="Player" asp-action="AddPlayerToFavourites" asp-route-teamId="@Model?.TeamId" class="btn btn-outline-primary">
        @if (ViewBag.IsFavourite)
        {
            <i class="bi bi-heart-fill"></i>
        }
        else
        {
            <i class="bi bi-heart"> </i>
        }
    </a>
</div>
<style>
    .player-details {
        display: flex;
        align-items: center; /* Wyrównaj elementy w pionie */
        height: 23.33vh; /* Zmieniono na 1/3 wysokości ekranu */
    }

    #player-photo { /* Zmieniono .player-photo na #player-photo */
        width: 200px; /* Dostosuj do potrzeb */
        height: auto;
        margin-right: 20px; /* Odstęp między zdjęciem a informacjami o zawodniku */
        border: 2px outset black;
    }

    .player-info h2 {
        margin: 0;
        font-size: 60px;
    }

    .player-stats {
        font-size: 0.95em; /* Mniejsza czcionka dla statystyk zawodnika */
        display: flex;
        gap: 15px; /* Odstęp między statystykami */
    }

</style>

<a asp-action="Index">Powrót do listy</a>
