@page
@model FavouritesModel
@{
    ViewData["Title"] = "Ulubione";
    ViewData["ActivePage"] = ManageNavPages.Favourites;
}
<div class="container mt-5 mb-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#leagues">Ulubione ligi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#teams">Ulubione zespoły</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#players">Ulubieni zawodnicy</a>
        </li>
    </ul>

    @*///////////////// FAVOURITE LEAGUES//////////////////////////////////*@
    <div class="tab-content mt-2">
        <div class="tab-pane fade mt-4 show active" id="leagues">
            <div class="row">
                @foreach (var league in Model.Fav.FavouriteLeagues)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-img-top text-center">
                                @if (league.Logo != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(league.Logo)" alt="@league.Name" class="img-fluid rounded-circle mb-2 mt-2" style="max-height:150px; width: auto; display: inline-block;">
                                }
                                else
                                {
                                    <img src="~/images/default-team.png" alt="Domyślne zdjęcie" class="img-fluid rounded-circle mb-2 mt-2" style="max-height: 150px; width: auto; display: inline-block;">
                                }
                            </div>
                            <a class="link" asp-controller="League" asp-action="Details" asp-route-leagueId="@league.LeagueId">
                                <div class="card-body text-center">
                                    <h5 class="card-title">@league.Name</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

        
        @*///////////////// FAVOURITE TEAMS //////////////////////////////////*@
        <div class="container mt-4 tab-pane fade" id="teams">
            <div class="row">
                @foreach (var team in Model.Fav.FavouriteTeams)
                {
                    <div class="col-md-3 col-2 mb-4">
                        <div class="card">
                            <div class="card-body text-center">
                                    @if (team.TeamLogo != null)
                                    {
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(team.TeamLogo)" alt="@team.Name" class="img-fluid mb-2" style="max-height:150px;">
                                    }
                                    else
                                    {
                                        <img src="~/images/default-team.png" alt="Domyślne zdjęcie" class="img-fluid mb-2" style="max-height: 150px;">
                                    }
                                <a class="link" asp-controller="Team" asp-action="Details" asp-route-teamId="@team.TeamId">
                                    <div class="card-body">
                                        <h5 class="card-title">@team.Name</h5>                             
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @*///////////////// FAVOURITE PLAYERS //////////////////////////////////*@
        <div class="tab-pane fade mt-4" id="players">
            <div class="row">
                @foreach (var player in Model.Fav.FavouritePlayers)
                {
                    <div class="col-md-4 mb-2">
                        <div class="card">
                            <div class="card-img-top text-center">
                                @if (player.Photo != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(player.Photo)" alt="@player.Name" class="img-fluid rounded-circle mb-2 mt-2" style="max-height:150px; width: auto; display: inline-block;">
                                }
                                else
                                {
                                    <img src="~/images/default-team.png" alt="Domyślne zdjęcie" class="img-fluid rounded-circle mb-2 mt-2" style="max-height: 150px; width: auto; display: inline-block;">
                                }
                            </div>

                            <div class="card-body text-center">
                                <a class="link" asp-controller="Player" asp-action="Details" asp-route-playerId="@player.PlayerId">
                                    <h5 class="card-title">@player.FullName</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/default.css">
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
