@page
@model FavouritesModel
@{
    ViewData["Title"] = "Ulubione";
    ViewData["ActivePage"] = ManageNavPages.Favourites;
}
<div class="container mt-5 mb-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#leagues">Ulubione ligi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#teams">Ulubione zespoły</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#players">Ulubieni zawodnicy</a>
        </li>
    </ul>

    @*///////////////// FAVOURITE LEAGUES//////////////////////////////////*@
    <div class="tab-content mt-2">
        <div class="tab-pane fade mt-4 show active" id="leagues">
            <div class="row">
                @foreach (var favLeague in Model.Fav.FavouriteLeagues)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-img-top text-center">
                                @if (favLeague.League.Logo != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(favLeague.League.Logo)" alt="@favLeague.League.Name" class="img-fluid rounded-circle mb-2 mt-2" style="max-height:150px; width: auto; display: inline-block;">
                                }
                                else
                                {
                                    <img src="~/images/default-team.png" alt="Domyślne zdjęcie" class="img-fluid rounded-circle mb-2 mt-2" style="max-height: 150px; width: auto; display: inline-block;">
                                }
                            </div>
                            <a class="link" asp-controller="League" asp-action="Details" asp-route-leagueId="@favLeague.League.LeagueId">
                                <div class="card-body text-center">
                                    <h5 class="card-title">@favLeague.League.Name</h5>

                                    <h9 class="card-title">
                                        Dodano @favLeague.DateAdded.ToString("dd.MM.yyyy")
                                    </h9>
                                </div>

                            </a>
                                      
                        </div>
                    </div>
                }
            </div>
        </div>

        
        @*///////////////// FAVOURITE TEAMS //////////////////////////////////*@
        <div class="container mt-4 tab-pane fade" id="teams">
            <div class="row">
                @foreach (var favTeam in Model.Fav.FavouriteTeams)
                {
                    <div class="col-md-3 col-2 mb-4">
                        <div class="card">
                            <div class="card-body text-center">
                                    @if (favTeam.Team.TeamLogo != null)
                                    {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(favTeam.Team.TeamLogo)" alt="@favTeam.Team.Name" class="img-fluid mb-2" style="max-height:150px;">
                                    }
                                    else
                                    {
                                        <img src="~/images/default-team.png" alt="Domyślne zdjęcie" class="img-fluid mb-2" style="max-height: 150px;">
                                    }
                                <a class="link" asp-controller="Team" asp-action="Details" asp-route-teamId="@favTeam.Team.TeamId">
                                    <div class="card-body">
                                        <h5 class="card-title">@favTeam.Team.Name</h5>

                                    </div>
                                </a>
                                <h9 class="card-title">
                                    Dodano @favTeam.DateAdded.ToString("dd.MM.yyyy")
                                </h9>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @*///////////////// FAVOURITE PLAYERS //////////////////////////////////*@
        <div class="tab-pane fade mt-4" id="players">
            <div class="row">
                @foreach (var favPlayer in Model.Fav.FavouritePlayers)
                {
                    <div class="col-md-4 mb-2">
                        <div class="card">
                            <div class="card-img-top text-center">
                                @if (favPlayer.Player.Photo != null)
                                {
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(favPlayer.Player.Photo)" alt="@favPlayer.Player.Name" class="img-fluid rounded-circle mb-2 mt-2" style="max-height:150px; width: auto; display: inline-block;">
                                }
                                else
                                {
                                    <img src="~/images/default-team.png" alt="Domyślne zdjęcie" class="img-fluid rounded-circle mb-2 mt-2" style="max-height: 150px; width: auto; display: inline-block;">
                                }
                            </div>

                            <div class="card-body text-center">
                                <a class="link" asp-controller="Player" asp-action="Details" asp-route-playerId="@favPlayer.PlayerId">
                                    <h4 class="card-title">@favPlayer.Player.FullName</h4>

                                </a>
                                <h9 class="card-title">
                                    Dodano @favPlayer.DateAdded.ToString("dd.MM.yyyy")
                                </h9>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</div>
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/default.css">
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
