@using BasketballLeagueTracker.ViewModels;
@model LeagueViewModel
@{
    if (Model != null && Model.League.LeagueId != 0)
    {
        TempData["LeagueId"] = Model.League.LeagueId;
    }
}

<div class="container">
    <!-- Nagłówek ligi z logo, nazwą, opisem i przyciskiem dodania do ulubionych -->
    <div class="league-header">
        <div class="row justify-content-center align-items-right">
            <div class="col-md-8 text-center">
                @if (Model.League.Logo != null)
                {
                    <img src="data:image/png;base64,@(Convert.ToBase64String(Model.League.Logo))" alt="League Logo" width="80" class="league-logo">
                }
                else
                {
                    <img src="/images/deafult-league.png" class="league-logo">
                }
                <h1 class="league-name">@Model.League.Name</h1>
                <p class="league-description">@Model.League.Description</p>
            </div>
            <div class="col-md-4 text-md-end ">
                <a asp-controller="League" asp-action="AddLeagueToFavourites" asp-route-leagueId="@Model.League?.LeagueId" class="favourite-button">
                    @if (ViewBag.IsFavourite)
                    {
                        <i class="bi bi-heart-fill"></i>
                    }
                    else
                    {
                        <i class="bi bi-heart"></i>
                    }
                </a>
            </div>
        </div>
    </div>


</div>

<!-- Panel Administratora/Moderatora -->
@if (User.IsInRole(BasketballLeagueTracker.Utility.RoleNames.Role_Admin) || User.IsInRole(BasketballLeagueTracker.Utility.RoleNames.Role_Moderator))
{
    <div class="admin-panel text-center my-3">
        <a asp-controller="Team" asp-action="AddTeamToLeague" asp-route-leagueId="@Model.League.LeagueId" class="btn btn-primary">Dodaj drużynę</a>
        <a asp-controller="Article" asp-action="Upsert" asp-route-leagueId="@Model.League.LeagueId" class="btn btn-secondary">Dodaj artykuł</a>
        <a asp-controller="Game" asp-action="Create" asp-route-leagueId="@Model.League.LeagueId" class="btn btn-secondary">Dodaj mecz</a>
        <a asp-controller="League" asp-action="Upsert" asp-route-id="@Model.League.LeagueId" class="btn btn-primary">Edytuj ligę</a>
        <a asp-controller="League" asp-action="Delete" asp-route-id="@Model.League.LeagueId" class="btn btn-danger">Usuń ligę</a>
    </div>
}

<div class="row mt-4">
    <!-- Tabela punktów po lewej stronie -->
    <div class="col-md-4">
        @{
            int place = 1;
        }
        <table class="table table-sm">
            <thead>
                <tr class="text-center">
                    <th title="Miejsce">M</th>
                    <th title="Drużyna">Drużyna</th>
                    <th title="Zwycięstwa">Zw</th>
                    <th title="Porażki">Por</th>
                    <th title="Ilość rozegranych meczów">Mecze </th>
                    <th title="Punkty zdobyte - Punkty stracone">Bilans pkt</th>
                    <th title="Punkty Ligowe">Punkty</th>
                </tr>
            </thead>

            <tbody class="text-center">
                @foreach (var stat in Model.League.SeasonStatistics.OrderByDescending(s => s.LeaguePoints))
                {
                    <tr>
                        <td>@place</td>

                        <td>     <a asp-controller="Team" asp-action="Details" asp-route-teamId="@stat.TeamId" class="link"> @stat.Team.Name   </a></td>

                        <td>@stat.Wins</td>
                        <td>@stat.Losses</td>
                        <td>@stat.GamesPlayed</td>
                        <td>@stat.TeamPoints - @stat.OpponentPoints</td>
                        <td>@stat.LeaguePoints</td>
                    </tr>
                    place++;
                }

            </tbody>
        </table>
    </div>

    <!-- Zakładki po prawej stronie -->
    <div class="col-md-8">
        <ul class="nav nav-tabs" id="leagueTabs">
            <li class="nav-item">
                <a class="nav-link active" id="games-tab" data-bs-toggle="tab" href="#games" role="tab">Mecze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="teams-tab" data-bs-toggle="tab" href="#teams" role="tab">Drużyny</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="articles-tab" data-bs-toggle="tab" href="#articles" role="tab">Artykuły</a>
            </li>
        </ul>
        <div class="tab-content" id="leagueTabsContent">
            <!-- Games section -->
            <div class="tab-pane fade show active" id="games" role="tabpanel" aria-labelledby="games-tab">
                <div class="row mt-3">
                    @foreach (var game in Model.League.Games)
                    {
                        <div class="col-md-3 col-12 mb-4">
                            <div class="card">
                                <div class="card-body text-center" style="max-height: 60%;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-end">
                                                <div class="btn-group" role="group" aria-label="Przyciski">
                                                    <a asp-controller="Game" asp-action="DeletePOST" asp-route-gameId="@game.GameId" asp-route-leagueId="@Model.League.LeagueId"
                                                   class="btn btn-sm btn-outline-danger float-end" onclick="return confirm('Czy na pewno chcesz usunąć to spotkanie?')">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                    <a asp-controller="Game" asp-action="Update" asp-route-id="@game.GameId" asp-route-leagueId="@Model.League.LeagueId"
                                                   class="btn btn-sm btn-outline-primary float-end" style="margin-left: 10px;">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a asp-controller="Game" asp-action="Details" asp-route-gameId="@game.GameId" asp-route-leagueId="@Model.League.LeagueId" style="text-decoration:none">
                                        <!-- Nazwa drużyny gospodarzy i wynik -->
                                        <h5 class="card-title link">@game.HomeTeam.Name</h5>
                                        <p class="card-text link">@game.HomeTeamScore</p>

                                        <!-- Nazwa drużyny gości i wynik -->
                                        <h5 class="card-title link">@game.AwayTeam.Name</h5>
                                        <p class="card-text link">@game.AwayTeamScore</p>

                                        <!-- Dodanie daty spotkania -->
                                        <h6 class="card-subtitle mb-2 text-muted">@game.GameDate.ToString("dd.MM.yyyy HH:mm")</h6>
                                    </a>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>

            <!-- Teams section -->
            <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="teams-tab">
                <div class="row mt-3">
                    @foreach (var team in Model.League.Teams)
                    {
                        <div class="col-md-3 col-12 mb-4">
                            <div class="card">
                                <div class="card-body text-center" style="max-height: 60%;">
                                    <a asp-controller="Team" asp-action="Details" asp-route-teamId="@team.TeamId" class="link">
                                        @if (team.TeamLogo != null)
                                        {
                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(team.TeamLogo)" alt="@team.Name" class="img-fluid mb-2" style="max-height: 100px;">
                                        }
                                        else
                                        {
                                            <img src="~/images/default-team.png" alt="Domyślne zdjęcie" class="img-fluid mb-2" style="max-height: 100px;">
                                        }
                                        <h5 class="card-title link">@team.Name</h5>
                                        <p class="card-text link">@team.Description</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Article section-->
            <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles-tab">
                <div class="row mt-3">
                    @foreach (var article in Model.League.Articles)
                    {
                        <div class="col-md-4 col-12 mb-4">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <a asp-controller="Article" asp-action="Details" asp-route-articleId="@article.ArticleId" class="link">
                                        <h5 class="mb-0">@article.Title</h5>
                                    </a>
                                    <div class="justify-content-end">
                                        <a asp-controller="Article" asp-action="Upsert" asp-route-id="@article.ArticleId" asp-route-leagueId="@Model.League.LeagueId" class="btn btn-warning btn-sm me-2 ">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a asp-controller="Article" asp-action="DeletePOST" asp-route-articleId="@article.ArticleId" asp-route-leagueId="@Model.League.LeagueId" class="btn btn-danger btn-sm" onclick="return confirm('Czy na pewno chcesz usunąć ten artykuł?');">
                                            <i class="bi bi-trash3"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <a asp-controller="Article" asp-action="Details" asp-route-articleId="@article.ArticleId" class="link">
                                        <p class="card-text link">
                                            @if (article.MainPhoto != null)
                                            {
                                                <img height="100" width="100" src="data:image/png;base64,@(Convert.ToBase64String(article.MainPhoto))" class="rounded-circle" />
                                            }
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="~/css/default.css" />
<link rel="stylesheet" type="text/css" href="~/css/leagueDetails.css" />